.dx-acc-r .dxTreeList_CollapsedButton_eniThm:before,
.dx-acc-r .dxTreeList_CollapsedButtonRtl_eniThm:before,
.dx-acc-r .dxTreeList_CTCollapseRow_eniThm:before,
.dx-acc-r .dxTreeList_CTCollapseRowDisabled_eniThm:before,
.dx-acc-r .dxTreeList_CTDeleteRow_eniThm:before,
.dx-acc-r .dxTreeList_CTDeleteRowDisabled_eniThm:before,
.dx-acc-r .dxTreeList_CTEditRow_eniThm:before,
.dx-acc-r .dxTreeList_CTEditRowDisabled_eniThm:before,
.dx-acc-r .dxTreeList_CTExpandRow_eniThm:before,
.dx-acc-r .dxTreeList_CTExpandRowDisabled_eniThm:before,
.dx-acc-r .dxTreeList_CTFullCollapse_eniThm:before,
.dx-acc-r .dxTreeList_CTFullCollapseDisabled_eniThm:before,
.dx-acc-r .dxTreeList_CTFullExpand_eniThm:before,
.dx-acc-r .dxTreeList_CTFullExpandDisabled_eniThm:before,
.dx-acc-r .dxTreeList_CTNewRow_eniThm:before,
.dx-acc-r .dxTreeList_CTNewRowDisabled_eniThm:before,
.dx-acc-r .dxTreeList_CTRefresh_eniThm:before,
.dx-acc-r .dxTreeList_CTRefreshDisabled_eniThm:before,
.dx-acc-r .dxTreeList_CTShowCustomizationWindow_eniThm:before,
.dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_eniThm:before,
.dx-acc-r .dxTreeList_DragAndDropArrowDown_eniThm:before,
.dx-acc-r .dxTreeList_DragAndDropArrowUp_eniThm:before,
.dx-acc-r .dxTreeList_DragAndDropHide_eniThm:before,
.dx-acc-r .dxTreeList_DragAndDropNode_eniThm:before,
.dx-acc-r .dxTreeList_ExpandedButton_eniThm:before,
.dx-acc-r .dxTreeList_ExpandedButtonRtl_eniThm:before,
.dx-acc-r .dxTreeList_SortAsc_eniThm:before,
.dx-acc-r .dxTreeList_SortDesc_eniThm:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxTreeList_CollapsedButton_eniThm:before

{
    left: -56px;
    top: -74px;

}
.dx-acc-r .dxTreeList_CollapsedButtonRtl_eniThm:before

{
    left: -14px;
    top: -74px;

}
.dx-acc-r .dxTreeList_CTCollapseRow_eniThm:before

{
    left: -17px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTCollapseRowDisabled_eniThm:before

{
    left: -68px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTDeleteRow_eniThm:before

{
    left: -40px;
    top: 0px;

}
.dx-acc-r .dxTreeList_CTDeleteRowDisabled_eniThm:before

{
    left: -17px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTEditRow_eniThm:before

{
    left: -68px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTEditRowDisabled_eniThm:before

{
    left: -17px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTExpandRow_eniThm:before

{
    left: -34px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTExpandRowDisabled_eniThm:before

{
    left: -68px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTFullCollapse_eniThm:before

{
    left: -51px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTFullCollapseDisabled_eniThm:before

{
    left: -34px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTFullExpand_eniThm:before

{
    left: 0px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTFullExpandDisabled_eniThm:before

{
    left: -57px;
    top: 0px;

}
.dx-acc-r .dxTreeList_CTNewRow_eniThm:before

{
    left: -51px;
    top: -40px;

}
.dx-acc-r .dxTreeList_CTNewRowDisabled_eniThm:before

{
    left: -23px;
    top: 0px;

}
.dx-acc-r .dxTreeList_CTRefresh_eniThm:before

{
    left: -51px;
    top: -23px;

}
.dx-acc-r .dxTreeList_CTRefreshDisabled_eniThm:before

{
    left: -34px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTShowCustomizationWindow_eniThm:before

{
    left: 0px;
    top: -57px;

}
.dx-acc-r .dxTreeList_CTShowCustomizationWindowDisabled_eniThm:before

{
    left: 0px;
    top: -40px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowDown_eniThm:before

{
    left: -74px;
    top: 0px;

}
.dx-acc-r .dxTreeList_DragAndDropArrowUp_eniThm:before

{
    left: -75px;
    top: -13px;

}
.dx-acc-r .dxTreeList_DragAndDropHide_eniThm:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxTreeList_DragAndDropNode_eniThm:before

{
    left: -42px;
    top: -74px;

}
.dx-acc-r .dxTreeList_ExpandedButton_eniThm:before

{
    left: 0px;
    top: -74px;

}
.dx-acc-r .dxTreeList_ExpandedButtonRtl_eniThm:before

{
    left: -28px;
    top: -74px;

}
.dx-acc-r .dxTreeList_SortAsc_eniThm:before

{
    left: -59px;
    top: -17px;

}
.dx-acc-r .dxTreeList_SortDesc_eniThm:before

{
    left: -67px;
    top: -17px;

}
