<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Application Name=DIC Groupware;Server=173.0.9.4;Database=GroupwareAsp;uid=Groupware;pwd=Dicorp0585!;Connect Timeout=300;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" defaultLanguage="c#" strict="false" urlLinePragmas="false" targetFramework="4.0">
      <assemblies>
        <add assembly="DevExpress.Data.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxHtmlEditor.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpellChecker.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxTreeList.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxThemes.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxPivotGrid.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Utils.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Office.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.RichEdit.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.SpellChecker.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Charts.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraGauges.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraGauges.v17.1.Presets, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxGauges.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraCharts.v17.1.Web, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Printing.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v17.1.Web, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraPivotGrid.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.PivotGrid.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraScheduler.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxScheduler.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Spreadsheet.v17.1.Core, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Web.ASPxSpreadsheet.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.Xpo.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="eniFramework.WebApp.Controls, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null" />
      </assemblies>
    </compilation>
    <!--<caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="gwCache" duration="60" varyByParam="none"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>-->
    <authentication mode="Forms">
      <forms name="dic_groupware" loginUrl="~/login" defaultUrl="~/" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
    </httpHandlers>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <!-- culture="ko-KR" uiCulture="ko-KR" 한국어(대한민국) -->
    <!-- culture="en-US" uiCulture="en-US" 영어(미국) -->
    <!-- culture="zh-TW" uiCulture="zh-TW" 중국어(대만) -->
    <!-- culture="zh-CN" uiCulture="zh-CN" 중국어(중국)-->
    <!-- culture="zh-HK" uiCulture="zh-HK" 중국어(홍콩 특별 행정구) -->
    <!-- culture="ja-JP" uiCulture="ja-JP" 일본어(일본) -->
    <!-- culture="de-DE" uiCulture="de-DE" 독일어(독일) -->
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpRuntime maxQueryStringLength="1024000" maxRequestLength="1024000" requestValidationMode="2.0" executionTimeout="7200" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
    <pages validateRequest="false" enableViewStateMac="false" clientIDMode="Predictable" controlRenderingCompatibilityVersion="4.0" autoEventWireup="true" theme="eniThm" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add tagPrefix="eni" namespace="eniFramework.WebApp.Controls" assembly="eniFramework.WebApp.Controls, Version=2.5.0.0, Culture=neutral, PublicKeyToken=null" />
        <add tagPrefix="eni" src="~/WebContent/Common/ActiveX/eniSpread.ascx" tagName="eniSpread" />
      </controls>
    </pages>
    <!--<sessionState mode="InProc" cookieless="false" regenerateExpiredSessionId="false" timeout="180"/>-->
    <sessionState mode="InProc" cookieless="false" regenerateExpiredSessionId="false" timeout="1" />
    <customErrors mode="On" defaultRedirect="~/WebContent/Common/Error.aspx">
      <error statusCode="404" redirect="~/WebContent/Common/Error.aspx" />
    </customErrors>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="10485760" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed" />
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <!-- 동적컴파일 -->
  <!--<system.codedom>
    <compilers>
      -->
  <!--compilerOptions="/d:DEBUG;TRACE"-->
  <!--
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>-->
  <system.webServer>
    <!--<serverRuntime uploadReadAheadSize="2147483647" />-->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ASPxHttpHandlerModule" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <handlers>
      <remove name="ASPxUploadProgressHandler" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <remove name="ASPxHttpHandlerModule" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v17.1, Version=17.1.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <!-- allowDoubleEscaping : 요청 Url에 "+" or "++" 이 포함되면 거부 여부 -->
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxQueryString="1024000" maxAllowedContentLength="30000000" />
        <fileExtensions allowUnlisted="true" />
        <hiddenSegments>
          <!-- 첨부파일 Root 경로 필터링 해지(IIS7 이상) -->
          <remove segment="App_Data" />
          <!-- 필터링 추가 -->
          <add segment="Security" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
    <httpErrors>
      <remove statusCode="404" />
      <error statusCode="404" path="/WebContent/Common/404.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <!--<rewrite>
      <rules>
        <clear/>
        <rule name="https -&gt; http" enabled="true" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^ON$"/>
            <add input="{HTTP_USER_AGENT}" pattern="^(?=.*?MSIE)(?=.*?Windows NT 5\.).*$"/>
          </conditions>
          <action type="Redirect" url="http://{HTTP_HOST}/{R:1}"/>
        </rule>
        <rule name="http -&gt; https" enabled="true" stopProcessing="true">
          <match url="(.*)"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{HTTPS}" pattern="^OFF$"/>
            <add input="{HTTP_USER_AGENT}" pattern="^(?=.*?MSIE)(?=.*?Windows NT 5\.).*$" negate="true"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <devExpress>
    <!-- enableThemesAssembly="false" : 어셈블리 Theme 로드를 사용하지 않고 App_Themes 폴더에서 Theme을 사용하도록 변경 -->
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="eniThm" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="true" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings doctypeMode="Html5" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" accessibilityCompliant="false" bootstrapMode="Bootstrap3" checkReferencesToExternalScripts="true" protectControlState="true" />
    <errors callbackErrorRedirectUrl="" />
  </devExpress>
  <appSettings>
    <!-- [==========WebServerEnvironment Class==========] -->
    <!-- ApplicationVersion(해당 버전을 업데이트 해야 Client에 쿠키로 남아있는 이전 버전의 CSS, JS 파일을 사용하지 않고 최신 버전을 사용한다.) -->
    <add key="ApplicationVersion" value="1.2.170725.001" />
    <!-- SystemType(Server, Client) -->
    <add key="SystemType" value="Server" />
    <!-- 응용프로그램 이름 -->
    <add key="ServerName" value="대일기배|유| 그룹웨어" />
    <!-- 응용프로그램 이름 -->
    <add key="QuickName" value="대일기배|유| 그룹웨어" />
    <!-- 디비 연결 이름 -->
    <add key="ApplicationName" value="DAE-IL Groupware" />
    <!-- 서버 아이피 -->
    <add key="DbIP" value="173.0.9.4" />
    <!-- 서버 디비 이름 -->
    <add key="DbName" value="GroupwareAsp" />
    <!-- 서버 디비 아이디 스키마 -->
    <add key="Schema" value="dbo" />
    <!-- 서버 디비 아이디 -->
    <add key="DbId" value="Groupware" />
    <!-- 서버 디비 비밀번호 -->
    <add key="DbPw" value="Dicorp0585!" />
    <!-- 서버 디비 타입아웃 -->
    <add key="DbTimeOut" value="300" />
    <!-- 이지베이스 아이디 -->
    <add key="EBServerIP" value="173.0.9.5" />
    <!-- 이지베이스 아이디 -->
    <add key="EBServerPort" value="1433" />
    <!-- 이지베이스 아이디 -->
    <add key="EBId" value="Admin" />
    <!-- 이지베이스 비밀번호 -->
    <add key="EBPw" value="admin" />
    
    <!-- [==========WebServerSettings Class==========] -->
    <!-- ApplicationType -->
    <add key="ApplicationType" value="WebApplication" />
    <!-- 모드설정(Debug, Relese) -->
    <add key="ApplicationStartMode" value="Debug" />
    <!-- [==========WebServerSecurity Class==========] -->
    
    <!-- TripleDesKey -->
    <add key="DESKey" value="di6331!@" />
    <!-- TripleDesBeginningKey -->
    <add key="DESBeginningKey" value="admin#di" />
    
    <!-- [==========EventLog==========] -->
    <!-- EventLogSource -->
    <add key="EventLogSource" value="GroupwareAsp" />
    <!-- EventLog -->
    <add key="EventLog" value="GroupwareAsp Service" />
    
    <!-- [==========WebServerLogger Class==========] -->
    <!-- 로그파일 Path -->
    <add key="LogFilePath" value="Log\" />
    <!-- 로그파일 Type -->
    <add key="LogFileType" value="DAY" />
    <!-- 로그생성여부 -->
    <add key="IsLogWrite" value="True" />
    <!-- 로그파일 접두어 -->
    <add key="LogFileNamePrefix" value="Log-" />
    <!-- 디버그파일 Path(삭제예정) -->
    <add key="DebugFilePath" value="Log\" />
    <!-- 디버그파일 Type(삭제예정) -->
    <add key="DebugFileType" value="DAY" />
    <!-- 디버그생성여부(삭제예정) -->
    <add key="IsDebugWrite" value="True" />
    <!-- 디버그파일 접두어(삭제예정) -->
    <add key="DebugFileNamePrefix" value="Debug-" />
    
    <!-- [==========WebServerDirectorys Class==========] -->
    <!-- 파일 첨부 루트 경로 -->
    <add key="AttachRootPath" value="UploadFiles" />
    <!--메일 파일 첨부 경로 -->
    <add key="MailPath" value="WebMail" />
    <!--쪽지 파일 첨부 경로 -->
    <add key="NotePath" value="WebNote" />
    <!--게시판 파일 첨부 경로 -->
    <add key="BoardPath" value="WebBoard" />
    <!--웹하드 파일 첨부 경로 -->
    <add key="WebHardPath" value="WebHard" />
    <!-- 파일 첨부 임시저장 폴더이름 -->
    <add key="TempPath" value="Temp" />
    <!-- 파일 첨부 폴더이름 -->
    <add key="AttachPath" value="Attach" />
    <!-- 파일 첨부 이미지 폴더이름 -->
    <add key="ImagePath" value="Image" />
    <!-- 파일 첨부 썸네일 폴더이름 -->
    <add key="ThumbPath" value="Thumb" />
    <!-- 파일 첨부 대용량 폴더이름 -->
    <add key="PeriodPath" value="Period" />
    <!-- 메일 서버 기본 언어 -->
    <add key="hMailServerLang" value="KO" />
    <!-- 메일 서버 아이피 -->
    <add key="hMailServerIP" value="127.0.0.1" />
    <!-- 메일 서버 관리자 아이디 -->
    <add key="hMailServerAdminID" value="administrator" />
    <!-- 메일 서버 관리자 비밀번호 -->
    <add key="hMailServerAdminPW" value="Dicorp0585!" />
    <!-- 메일 서버 서비스 아이피 -->
    <add key="MailServerServiceIP" value="127.0.0.1" />
    <!-- 메일 서버 서비스 포트 -->
    <add key="MailServerServicePort" value="3320" />
    <!-- 메일 서버 서비스 엔드패킷 -->
    <add key="MailServerServiceEndPacket" value="\!\@" />
    <!-- 메일 서버 서비스 로그인 이름 -->
    <add key="MailServerServiceLoginName" value="Groupware Web Application" />
    <!-- 메일 서버 서비스 라이센스 코드 -->
    <add key="MailServerServiceLicenseCode" value="73DE532B-63CD-4DBB-ADFD-2AF3649ED35D" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>        
      <DbProviderFactories>
          <remove invariant="System.Data.SqlServerCe.4.0" />
          <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </DbProviderFactories>
  </system.data></configuration>