.dxCardView_CTClearFilter_eniThm,
.dxCardView_CTClearFilterDisabled_eniThm,
.dxCardView_CTDeleteRow_eniThm,
.dxCardView_CTDeleteRowDisabled_eniThm,
.dxCardView_CTEditRow_eniThm,
.dxCardView_CTEditRowDisabled_eniThm,
.dxCardView_CTNewRow_eniThm,
.dxCardView_CTNewRowDisabled_eniThm,
.dxCardView_CTRefresh_eniThm,
.dxCardView_CTRefreshDisabled_eniThm,
.dxCardView_CTShowCustomizationWindow_eniThm,
.dxCardView_CTShowCustomizationWindowDisabled_eniThm,
.dxCardView_CTShowFilterEditor_eniThm,
.dxCardView_CTShowFilterEditorDisabled_eniThm,
.dxCardView_CTShowSearchPanel_eniThm,
.dxCardView_CTShowSearchPanelDisabled_eniThm,
.dxCardView_gvCellError_eniThm,
.dxCardView_gvFilterRowButton_eniThm,
.dxCardView_gvHeaderFilter_eniThm,
.dxCardView_gvHeaderFilterActive_eniThm,
.dxCardView_gvHeaderSortDown_eniThm,
.dxCardView_gvHeaderSortUp_eniThm
{
    background-image: url('sprite.png');
    background-repeat: no-repeat;
    background-color: transparent;
}
.dxCardView_CTClearFilter_eniThm
{
    background-position: 0px -255px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTClearFilterDisabled_eniThm
{
    background-position: 0px -187px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTDeleteRow_eniThm
{
    background-position: 0px -85px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTDeleteRowDisabled_eniThm
{
    background-position: 0px -170px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTEditRow_eniThm
{
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTEditRowDisabled_eniThm
{
    background-position: 0px -102px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTNewRow_eniThm
{
    background-position: 0px -238px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTNewRowDisabled_eniThm
{
    background-position: 0px -136px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTRefresh_eniThm
{
    background-position: 0px -153px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTRefreshDisabled_eniThm
{
    background-position: 0px -204px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTShowCustomizationWindow_eniThm
{
    background-position: 0px -68px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTShowCustomizationWindowDisabled_eniThm
{
    background-position: 0px -51px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTShowFilterEditor_eniThm
{
    background-position: 0px -17px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTShowFilterEditorDisabled_eniThm
{
    background-position: 0px -221px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTShowSearchPanel_eniThm
{
    background-position: 0px -119px;
    width: 16px;
    height: 16px;
}
.dxCardView_CTShowSearchPanelDisabled_eniThm
{
    background-position: 0px -34px;
    width: 16px;
    height: 16px;
}
.dxCardView_gvCellError_eniThm
{
    background-position: 0px -304px;
    width: 14px;
    height: 14px;
}
.dxCardView_gvFilterRowButton_eniThm
{
    background-position: 0px -319px;
    width: 13px;
    height: 13px;
}
.dxCardView_gvHeaderFilter_eniThm
{
    background-position: 0px -288px;
    width: 15px;
    height: 15px;
}
.dxCardView_gvHeaderFilterActive_eniThm
{
    background-position: 0px -272px;
    width: 15px;
    height: 15px;
}
.dxCardView_gvHeaderSortDown_eniThm
{
    background-position: -8px -333px;
    width: 7px;
    height: 5px;
}
.dxCardView_gvHeaderSortUp_eniThm
{
    background-position: 0px -333px;
    width: 7px;
    height: 5px;
}

