.dx-acc-r .dxXtraReports_BtnFirstPage_eniThm:before,
.dx-acc-r .dxXtraReports_BtnFirstPageDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_BtnLastPage_eniThm:before,
.dx-acc-r .dxXtraReports_BtnLastPageDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_BtnNextPage_eniThm:before,
.dx-acc-r .dxXtraReports_BtnNextPageDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_BtnPrevPage_eniThm:before,
.dx-acc-r .dxXtraReports_BtnPrevPageDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_BtnPrint_eniThm:before,
.dx-acc-r .dxXtraReports_BtnPrintDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_BtnPrintPage_eniThm:before,
.dx-acc-r .dxXtraReports_BtnPrintPageDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_BtnSave_eniThm:before,
.dx-acc-r .dxXtraReports_BtnSaveDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_BtnSaveWindow_eniThm:before,
.dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_BtnSearch_eniThm:before,
.dx-acc-r .dxXtraReports_BtnSearchDisabled_eniThm:before,
.dx-acc-r .dxXtraReports_PageBorder_blc_eniThm:before,
.dx-acc-r .dxXtraReports_PageBorder_brc_eniThm:before,
.dx-acc-r .dxXtraReports_PageBorder_tlc_eniThm:before,
.dx-acc-r .dxXtraReports_PageBorder_trc_eniThm:before

{
    content: url('spriteAccessible.png');

}
.dx-acc-r .dxXtraReports_BtnFirstPage_eniThm:before

{
    left: 0px;
    top: 0px;

}
.dx-acc-r .dxXtraReports_BtnFirstPageDisabled_eniThm:before

{
    left: 0px;
    top: -289px;

}
.dx-acc-r .dxXtraReports_BtnLastPage_eniThm:before

{
    left: 0px;
    top: -85px;

}
.dx-acc-r .dxXtraReports_BtnLastPageDisabled_eniThm:before

{
    left: 0px;
    top: -51px;

}
.dx-acc-r .dxXtraReports_BtnNextPage_eniThm:before

{
    left: 0px;
    top: -255px;

}
.dx-acc-r .dxXtraReports_BtnNextPageDisabled_eniThm:before

{
    left: 0px;
    top: -119px;

}
.dx-acc-r .dxXtraReports_BtnPrevPage_eniThm:before

{
    left: 0px;
    top: -136px;

}
.dx-acc-r .dxXtraReports_BtnPrevPageDisabled_eniThm:before

{
    left: 0px;
    top: -204px;

}
.dx-acc-r .dxXtraReports_BtnPrint_eniThm:before

{
    left: 0px;
    top: -102px;

}
.dx-acc-r .dxXtraReports_BtnPrintDisabled_eniThm:before

{
    left: 0px;
    top: -272px;

}
.dx-acc-r .dxXtraReports_BtnPrintPage_eniThm:before

{
    left: 0px;
    top: -34px;

}
.dx-acc-r .dxXtraReports_BtnPrintPageDisabled_eniThm:before

{
    left: 0px;
    top: -68px;

}
.dx-acc-r .dxXtraReports_BtnSave_eniThm:before

{
    left: 0px;
    top: -170px;

}
.dx-acc-r .dxXtraReports_BtnSaveDisabled_eniThm:before

{
    left: 0px;
    top: -187px;

}
.dx-acc-r .dxXtraReports_BtnSaveWindow_eniThm:before

{
    left: 0px;
    top: -153px;

}
.dx-acc-r .dxXtraReports_BtnSaveWindowDisabled_eniThm:before

{
    left: 0px;
    top: -221px;

}
.dx-acc-r .dxXtraReports_BtnSearch_eniThm:before

{
    left: 0px;
    top: -17px;

}
.dx-acc-r .dxXtraReports_BtnSearchDisabled_eniThm:before

{
    left: 0px;
    top: -238px;

}
.dx-acc-r .dxXtraReports_PageBorder_blc_eniThm:before

{
    left: 0px;
    top: -306px;

}
.dx-acc-r .dxXtraReports_PageBorder_brc_eniThm:before

{
    left: 0px;
    top: -317px;

}
.dx-acc-r .dxXtraReports_PageBorder_tlc_eniThm:before

{
    left: 0px;
    top: -328px;

}
.dx-acc-r .dxXtraReports_PageBorder_trc_eniThm:before

{
    left: 0px;
    top: -339px;

}
