/* -- ValidationSummary -- */
.dxvsValidationSummary_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: Red;
}
.dxvsValidationSummary_eniThm td.dxvsRC_eniThm
{
    vertical-align: top;
    padding: 2px 5px 4px 6px;
}
.dxvsValidationSummary_eniThm table.dxvsHT_eniThm
{
    width: 100%;
}
.dxvsValidationSummary_eniThm td.dxvsH_eniThm
{
    padding: 2px 0;
}
.dxvsValidationSummary_eniThm a.dxvsHL_eniThm,
.dxvsValidationSummary_eniThm a.dxvsHL_eniThm:visited
{
    color: red;
}
.dxvsValidationSummary_eniThm a.dxvsHL_eniThm
{
    text-decoration: none;
    border-bottom: 1px dashed #f70;
}
.dxvsValidationSummary_eniThm a.dxvsHL_eniThm:hover
{
    color: #f70;
}
.dxvsValidationSummary_eniThm td.dxvsETC_eniThm
{
    padding: 2px 0;
}
.dxvsValidationSummary_eniThm li.dxvsE_eniThm
{
    padding: 2px 0;
}
/* TrackBar */
.dxeTrackBar_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    visibility: hidden;
}
.dxeDisabled_eniThm .dxeTBHSys a,
.dxeDisabled_eniThm .dxeTBVSys a
{
    cursor: default;
}
.dxeTBBarHighlight_eniThm
{
    font-size: 0;
}
.dxeTBScale_eniThm,
.dxeTBTrack_eniThm,
.dxeTBBarHighlight_eniThm
{
    cursor: pointer;
}
.dxeTBScale_eniThm
{
    font-size: 0.91em;
    z-index: 1;
}
.dxeTBSecondaryDH_eniThm,
.dxeTBMainDH_eniThm
{
    z-index: 4;
}
.dxeTrackBar_eniThm.dxeTBHSys
{
    width: 170px;
    height: 49px;
}
.dxeTrackBar_eniThm.dxeTBVSys
{
    height: 170px;
    width: 49px;
}
.dxeTrackBar_eniThm.dxeTBBScaleSys.dxeTBVSys
{
    width: 76px;
}
.dxeTrackBar_eniThm.dxeTBBScaleSys.dxeTBHSys
{
    height: 76px;
}
.dxeTBTrack_eniThm
{
    z-index: 2;
    position: absolute;
}
.dxeTBHSys .dxeTBTrack_eniThm
{
    background-image: url('edtTrackBarTrackH.gif');
}
.dxeTBVSys .dxeTBTrack_eniThm
{
    background-image: url('edtTrackBarTrackV.gif');
}
.dxeTBHSys .dxeTBTrack_eniThm,
.dxeTBHSys .dxeTBBarHighlight_eniThm
{
    height: 9px;
}
.dxeTBVSys .dxeTBTrack_eniThm,
.dxeTBVSys .dxeTBBarHighlight_eniThm
{
    width: 9px;
}
.dxeTBHSys .dxeTBMainDH_eniThm,
.dxeTBHSys .dxeTBSecondaryDH_eniThm
{
    top: -4px;
    width: 11px;
    height: 17px;
}
.dxeTBVSys .dxeTBMainDH_eniThm,
.dxeTBVSys .dxeTBSecondaryDH_eniThm
{
    left: -4px;
    width: 17px;
    height: 11px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBTrack_eniThm,
.dxeTBVSys .dxeTBTrack_eniThm
{
    left: 6px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBTrack_eniThm
{
    right: 6px;
    left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBTrack_eniThm
{
    bottom: 6px;
    top: auto;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBTrack_eniThm,
.dxeTBHSys .dxeTBTrack_eniThm
{
    top: 6px;
}
.dxeTBBarHighlight_eniThm
{
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: 3;
}
.dxeTBHSys .dxeTBBarHighlight_eniThm
{
    background-image: url('edtTrackBarBarHighlightH.gif');
}
.dxeTBVSys .dxeTBBarHighlight_eniThm
{
    background-image: url('edtTrackBarBarHighlightV.gif');
}
.dxeTBRBLabel_eniThm,
.dxeTBLTLabel_eniThm
{
    text-align: center;
    cursor: default;
}
.dxeTBSmallTickSys .dxeTBRBLabel_eniThm,
.dxeTBSmallTickSys .dxeTBLTLabel_eniThm,
.dxeTBLargeTickSys .dxeTBRBLabel_eniThm,
.dxeTBLargeTickSys .dxeTBLTLabel_eniThm
{
    position: absolute;
}
.dxeTBHSys .dxeTBRBLabel_eniThm,
.dxeTBHSys .dxeTBLTLabel_eniThm
{
    width: 100%;
}
.dxeTBVSys .dxeTBRBLabel_eniThm,
.dxeTBVSys .dxeTBLTLabel_eniThm
{
    padding-top: 2px;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_eniThm
{
    margin-left: -4px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBRBLabel_eniThm,
.dxeTBVSys .dxeTBBScaleSys .dxeTBLTLabel_eniThm
{
    right: 0px;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBLTLabel_eniThm,
.dxeTBVSys .dxeTBBScaleSys .dxeTBRBLabel_eniThm
{
    left: 0px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBRBLabel_eniThm,
.dxeTBHSys .dxeTBBScaleSys .dxeTBLTLabel_eniThm
{
    bottom: 0px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBLTLabel_eniThm,
.dxeTBHSys .dxeTBBScaleSys .dxeTBRBLabel_eniThm
{
    top: 0px;
}
.dxeTBHSys .dxeTBItem_eniThm .dxeTBRBLabel_eniThm,
.dxeTBHSys .dxeTBItem_eniThm .dxeTBLTLabel_eniThm
{
    display: inline-block;
    margin-left: 0px !important;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBItem_eniThm .dxeTBRBLabel_eniThm
{
    padding-top: 12px;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBItem_eniThm .dxeTBLTLabel_eniThm
{
    margin-top: 8px;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_eniThm .dxeTBRBLabel_eniThm
{
    margin-left: 5px;
}
.dxeTBSelectedItem_eniThm .dxeTBRBLabel_eniThm,
.dxeTBSelectedItem_eniThm .dxeTBLTLabel_eniThm,
.dxeTBSelectedTick_eniThm .dxeTBRBLabel_eniThm,
.dxeTBSelectedTick_eniThm .dxeTBLTLabel_eniThm
{
    color: #6C6C6C;
}
.dxeDisabled_eniThm .dxeTBSelectedItem_eniThm .dxeTBRBLabel_eniThm,
.dxeDisabled_eniThm .dxeTBSelectedItem_eniThm .dxeTBLTLabel_eniThm,
.dxeDisabled_eniThm .dxeTBSelectedTick_eniThm .dxeTBRBLabel_eniThm,
.dxeDisabled_eniThm .dxeTBSelectedTick_eniThm .dxeTBLTLabel_eniThm
{
    color: #C4CBD4;
}
.dxeTBRBLabel_eniThm,
.dxeTBLTLabel_eniThm,
.dxeTBItem_eniThm
{
    color: #9D9D9D;
}
.dxeDisabled_eniThm .dxeTBRBLabel_eniThm,
.dxeDisabled_eniThm .dxeTBLTLabel_eniThm,
.dxeDisabled_eniThm .dxeTBItem_eniThm
{
    color: #D7DCE2;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBItem_eniThm
{
    text-align: left;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBItem_eniThm
{
    text-align: right;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_eniThm
{
    text-align: center;
}
.dxeTBHSys .dxeTBItem_eniThm
{
    background-image: url('edtTrackBarLargeTickH.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBItem_eniThm
{
    background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBItem_eniThm
{
    background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBItem_eniThm
{
    background-image: url('edtTrackBarDoubleSmallTickV.gif');
}
.dxeTBHSys .dxeTBLargeTick_eniThm
{
    background-image: url('edtTrackBarLargeTickH.gif');
}
.dxeTBVSys .dxeTBLargeTick_eniThm
{
    background-image: url('edtTrackBarLargeTickV.gif');
}
.dxeTBHSys .dxeTBSmallTick_eniThm
{
    background-image: url('edtTrackBarSmallTickH.gif');
}
.dxeTBVSys .dxeTBSmallTick_eniThm
{
    background-image: url('edtTrackBarSmallTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBLargeTick_eniThm
{
    background-image: url('edtTrackBarDoubleLargeTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBLargeTick_eniThm
{
    background-image: url('edtTrackBarDoubleLargeTickV.gif');
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBSmallTick_eniThm
{
    background-image: url('edtTrackBarDoubleSmallTickH.gif');
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBSmallTick_eniThm
{
    background-image: url('edtTrackBarDoubleSmallTickV.gif');
}
.dxeTBVSys .dxeTBIncBtn_eniThm,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBDecBtn_eniThm
{
    bottom: 0px;
    top: auto;
}
.dxeTBVSys .dxeTBDecBtn_eniThm,
.dxeTBVSys .dxeReversedDirectionSys .dxeTBIncBtn_eniThm
{
    top: 0px;
    bottom: auto;
}
.dxeTBHSys .dxeTBDecBtn_eniThm,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBIncBtn_eniThm
{
    left: 0px;
    right: auto;
}
.dxeTBHSys .dxeTBIncBtn_eniThm,
.dxeTBHSys .dxeReversedDirectionSys .dxeTBDecBtn_eniThm
{
    right: 0px;
    left: auto;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBDecBtn_eniThm,
.dxeTBVSys .dxeTBBScaleSys .dxeTBIncBtn_eniThm
{
    margin-left: -9px;
    left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBDecBtn_eniThm,
.dxeTBHSys .dxeTBBScaleSys .dxeTBIncBtn_eniThm
{
    margin-top: -9px;
    top: 50%;
}
.dxeTBVSys .dxeTBBScaleSys .dxeTBTrack_eniThm
{
    margin-left: -4px;
    left: 50%;
}
.dxeTBHSys .dxeTBBScaleSys .dxeTBTrack_eniThm
{
    margin-top: -4px;
    top: 50%;
}
.dxeTBVSys .dxeTBLTScaleSys .dxeTBDecBtn_eniThm,
.dxeTBVSys .dxeTBLTScaleSys .dxeTBIncBtn_eniThm
{
    right: 1px;
    left: auto;
}
.dxeTBHSys .dxeTBLTScaleSys .dxeTBDecBtn_eniThm,
.dxeTBHSys .dxeTBLTScaleSys .dxeTBIncBtn_eniThm
{
    bottom: 1px;
    top: auto;
}
.dxeTBVSys .dxeTBRBScaleSys .dxeTBDecBtn_eniThm,
.dxeTBVSys .dxeTBRBScaleSys .dxeTBIncBtn_eniThm,
.dxeTBVSys .dxeTBDecBtn_eniThm,
.dxeTBVSys .dxeTBIncBtn_eniThm
{
    left: 1px;
}
.dxeTBHSys .dxeTBRBScaleSys .dxeTBDecBtn_eniThm,
.dxeTBHSys .dxeTBRBScaleSys .dxeTBIncBtn_eniThm,
.dxeTBHSys .dxeTBDecBtn_eniThm,
.dxeTBHSys .dxeTBIncBtn_eniThm
{
    top: 1px;
}
.dxeHelpText_eniThm,
.dxeTBValueToolTip_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
}
div.dxeHelpText_eniThm,
.dxeTBValueToolTip_eniThm
{
    padding: 3px 8px 4px 8px;
    display: inline;
    position: absolute;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid #BBBFC4;
    background: #F7FAFC;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F7FAFC', endColorstr='#E7EAEE');
    background: -webkit-gradient(linear, left top, left bottom, from(#F7FAFC), to(#E7EAEE));
    background: -moz-linear-gradient(top, #F7FAFC, #E7EAEE);
}
td.dxeHelpText_eniThm
{
    visibility: visible;
    color: #9F9F9F;
}
td.dxeHelpText_eniThm span
{
    font-size: 0.91em;
}
td.dxeHelpText_eniThm.dxeHHelpTextSys
{
    padding: 0 6px;
}
td.dxeHelpText_eniThm.dxeVHelpTextSys
{
    padding: 2px 0;
}
/* InternalCheckBox */
.dxeIRBFocused_eniThm
{
    outline: 1px dotted #dac11e;
}
.dxlpLoadingPanel_eniThm,
.dxlpLoadingPanelWithContent_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: #585e68;
    background: White none;
    border: 1px solid #80858d;
}
.dxlpLoadingPanel_eniThm td.dx,
.dxlpLoadingPanelWithContent_eniThm td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxcaLoadingPanel_eniThm .dxlp-loadingImage,
.dxlpLoadingPanel_eniThm .dxlp-loadingImage,
.dxlpLoadingPanelWithContent_eniThm .dxlp-loadingImage,
.dxeImage_eniThm.dxe-loadingImage
{
    background-image: url('../Web/Loading.gif');
    height: 16px;
    width: 16px;
}
.dxeButtonEditSys .dxic .dxeLoadingDiv_eniThm
{
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.dxeButtonEditSys .dxic .dxeLoadingPanel_eniThm
{
    background-color: transparent !important;
    font-size: 0 !important;
}
.dxeButtonEditSys .dxic .dxeLoadingPanel_eniThm td.dx
{
    padding: 0px !important;
}
.dxeButtonEditSys .dxic .dxeLoadingPanel_eniThm td.dx > span
{
    display: none;
}
.dxeButtonEditSys .dxic .dxeLoadingPanel_eniThm td.dx > img
{
    height: 15px;
    width: auto;
    vertical-align: middle;
}
.dxeBase_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
}
/* -- ErrorFrame -- */
.dxeErrorCell_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: Red;
    border-color: black;
    padding-right: 10px;
    padding-left: 10px;
}
.dxeErrorCell_eniThm.dxeNoBorderTop,
.dxeErrorCell_eniThm.dxeNoBorderBottom
{
    padding-right: 0;
    padding-left: 0;
}
.dxeErrorCell_eniThm.dxeNoBorderBottom td img
{
    margin-top: -1px;
}
.dxIE .dxeErrorCell_eniThm.dxeNoBorderBottom td img
{
    margin-top: -2px;
}
.dxFirefox .dxeErrorCell_eniThm.dxeNoBorderBottom,
.dxIE .dxeErrorCell_eniThm.dxeNoBorderBottom
{
    padding-bottom: 5px;
}
.dxeErrorCell_eniThm.dxeNoBorderBottom
{
    padding-bottom: 6px;
}
.dxeErrorCell_eniThm.dxeNoBorderTop
{
    padding-top: 6px;
}
.dxFirefox .dxeErrorCell_eniThm.dxeNoBorderTop td img
{
    margin-top: 1px;
}
.dxFirefox .dxeErrorCell_eniThm.dxeNoBorderTop
{
    padding-top: 5px;
}
.dxChrome .dxeErrorCell_eniThm.dxeNoBorderRight,
.dxChrome *[dir='rtl'] .dxeErrorCell_eniThm.dxeNoBorderLeft,
.dxOpera .dxeErrorCell_eniThm.dxeNoBorderRight,
.dxOpera *[dir='rtl'] .dxeErrorCell_eniThm.dxeNoBorderLeft
{
    padding-right: 9px;
    padding-left: 0px;
}
.dxeErrorCell_eniThm.dxeNoBorderRight,
*[dir='rtl'] .dxeErrorCell_eniThm.dxeNoBorderLeft
{
    padding-right: 10px;
    padding-left: 0px;
}
.dxeErrorCell_eniThm.dxeNoBorderLeft,
*[dir='rtl'] .dxeErrorCell_eniThm.dxeNoBorderRight
{
    padding-left: 10px;
    padding-right: 0px;
}
.dxeErrorFrameWithoutError_eniThm
{
    border: 1px solid Red;
}
.dxeErrorFrameWithoutError_eniThm .dxeControlsCell_eniThm,
.dxeErrorFrameWithoutError_eniThm.dxeControlsCell_eniThm
{
    padding: 2px;
}
.dxeEditArea_eniThm
{
    border: 1px solid #a5acb5;
}
body input.dxeEditArea_eniThm
{
    color: black;
}
input[type="text"].dxeEditArea_eniThm,
input[type="password"].dxeEditArea_eniThm
{
    margin-top: 0;
    margin-bottom: 1px;
}
.dxFirefox input[type="text"].dxeEditArea_eniThm,
.dxFirefox input[type="password"].dxeEditArea_eniThm
{
    margin-top: -1px;
    margin-bottom: 0;
}
/* -- Binary Image -- */
.dxeBinaryImageButtonPanel_eniThm
{
    height: 36px;
}
.dxeBinaryImageButton_eniThm
{
    margin: 0 6px;
}
/* -- Buttons -- */
.dxeButtonEditButton_eniThm,
.dxeCalendarButton_eniThm,
.dxeSpinIncButton_eniThm,
.dxeSpinDecButton_eniThm,
.dxeSpinLargeIncButton_eniThm,
.dxeSpinLargeDecButton_eniThm,
.dxeColorEditButton_eniThm
{
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}
.dxeCalendarButton_eniThm,
.dxeButtonEditButton_eniThm,
.dxeColorEditButton_eniThm
{
    border-style: solid;
    border-color: #a5acb5;
}
.dxeCalendarButton_eniThm,
.dxeColorEditButton_eniThm
{
    border-width: 1px;
}
.dxeButtonEditButton_eniThm
{
    border-width: 0 0 0 1px;
}
.dxeSpinIncButton_eniThm.dxeHasLarge,
.dxeSpinDecButton_eniThm.dxeHasLarge,
.dxeSpinLargeIncButton_eniThm
{
    border-width: 0;
}
.dxeButtonEditButton_eniThm.dxeButtonLeft
{
    border-width: 0 1px 0 0;
}
.dxeSpinIncButton_eniThm.dxeHasLarge.dxeButtonLeft,
.dxeSpinDecButton_eniThm.dxeHasLarge.dxeButtonLeft,
.dxeSpinLargeDecButton_eniThm.dxeButtonLeft
{
    border-width: 0;
}
.dxeButtonEditButton_eniThm,
.dxeSpinLargeIncButton_eniThm,
.dxeSpinLargeDecButton_eniThm
{
    background: #e8ecee url('edtDropDownBtnBack.png') repeat-x left top;
}
.dxeSpinIncButton_eniThm
{
    background: #f0f3f6 url('edtSpinIncBtnBack.png') repeat-x left top;
}
.dxeSpinDecButton_eniThm
{
    background: #e8ebee url('edtSpinDecBtnBack.png') repeat-x left top;
}
.dxeButtonEditButton_eniThm
{
    padding: 3px 2px 3px 3px;
}
.dxeSpinIncButton_eniThm
{
    padding: 2px 4px 2px;
}
.dxeSpinDecButton_eniThm
{
    padding: 3px 4px 2px;
}
.dxeSpinLargeIncButton_eniThm,
.dxeSpinLargeDecButton_eniThm
{
    padding: 6px 2px;
}
.dxeCalendarButton_eniThm,
.dxeColorEditButton_eniThm
{
    background: #e7eaee url('edtBtnBack.png') repeat-x left top;
    padding: 3px 11px 4px;
    min-width: 37px;
}
.dxeButtonEditButton_eniThm.dxeButtonEditClearButton_eniThm,
.dxeButtonEditButton_eniThm.dxeButtonEditClearButton_eniThm:hover
{
    background: none;
    border-width: 0;
    padding-bottom: 1px;
    padding-top: 2px;
}
.dxeButtonEditClearButton_eniThm img
{
    vertical-align: baseline;
}
/* -- Pressed -- */
.dxeCalendarButtonPressed_eniThm,
.dxeColorEditButton_eniThm:active
{
    border-color: #c2762b;
}
.dxeCalendarButtonPressed_eniThm,
.dxeColorEditButton_eniThm:active
{
    background: #fee287 url('edtBtnPBack.png') repeat-x left top;
}
.dxeButtonEditButtonPressed_eniThm,
.dxeSpinIncButtonPressed_eniThm,
.dxeSpinDecButtonPressed_eniThm,
.dxeSpinLargeIncButtonPressed_eniThm,
.dxeSpinLargeDecButtonPressed_eniThm
{
    background: #fee287 url('edtDropDownBtnPBack.png') repeat-x left top;
}
/* -- Hover -- */
.dxeCalendarButtonHover_eniThm,
.dxeColorEditButton_eniThm:hover
{
    border-color: #eecc53;
}
.dxeCalendarButtonHover_eniThm,
.dxeColorEditButton_eniThm:hover
{
    background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
}
.dxeButtonEditButtonHover_eniThm,
.dxeSpinLargeIncButtonHover_eniThm,
.dxeSpinLargeDecButtonHover_eniThm
{
    background: #f8e9ac url('edtDropDownBtnHBack.png') repeat-x left top;
}
.dxeSpinIncButtonHover_eniThm,
.dxeSpinDecButtonHover_eniThm
{
    background: #f8e18a url('edtSpinIncDecBtnHBack.png') repeat-x left top;
}
.dxeButtonEdit_eniThm
{
    background-color: white;
    border: 1px solid #a5acb5;
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    border-collapse: separate;
    border-spacing: 0;
}
.dxeButtonEdit_eniThm .dxeEditArea_eniThm
{
    background-color: white;
}
.dxeButtonEdit_eniThm .dxeIIC,
.dxeButtonEdit_eniThm .dxeIICR
{
    padding: 1px;
}
.dxeButtonEdit_eniThm .dxeIIC img
{
    padding-left: 3px;
}
.dxeButtonEdit_eniThm .dxeIICR img
{
    padding-right: 3px;
}
.dxFirefox .dxeButtonEdit_eniThm td.dxic,
.dxeButtonEdit_eniThm td.dxic
{
    padding: 3px 3px 2px 3px;
}
.dxeTextBox_eniThm
{
    background-color: white;
    border: 1px solid #a5acb5;
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
}
.dxeTextBox_eniThm .dxeEditArea_eniThm
{
    background-color: white;
}
.dxeRadioButtonList_eniThm,
.dxeCheckBoxList_eniThm
{
    border: 1px solid #a5acb5;
}
.dxeCheckBoxList_eniThm .dxe > table,
.dxeRadioButtonList_eniThm .dxe > table
{
    width: 100%;
}
.dxeRadioButtonList_eniThm,
.dxeCheckBoxList_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
}
.dxeRadioButtonList_eniThm td.dxe,
.dxeCheckBoxList_eniThm td.dxe
{
    padding: 7px 5px 6px 11px;
}
.dxeRadioButtonList_eniThm[dir='rtl'] td.dxe,
.dxeCheckBoxList_eniThm[dir='rtl'] td.dxe
{
    padding: 7px 11px 6px 5px;
}
/* Disabled */
.dxeDisabled_eniThm .dxeButtonEditButton_eniThm,
.dxeDisabled_eniThm .dxeSpinLargeIncButton_eniThm,
.dxeDisabled_eniThm .dxeSpinLargeDecButton_eniThm
{
    background: #f7f8fa url('edtDropDownBtnDisabledBack.png') repeat-x left top;
}
.dxeDisabled_eniThm .dxeSpinIncButton_eniThm
{
    background: #f9fbfc url('edtSpinIncBtnDisabledBack.png') repeat-x left top;
}
.dxeDisabled_eniThm .dxeSpinDecButton_eniThm
{
    background: #f7f8fa url('edtSpinDecBtnDisabledBack.png') repeat-x left top;
}
/* -- Memo -- */
.dxeMemo_eniThm
{
    background-color: white;
    border: 1px solid #a5acb5;
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
}
.dxeMemoEditArea_eniThm
{
    background-color: white;
    outline: none;
}
/* -- Hyperlink -- */
.dxeHyperlink_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: #5a9ddb;
    text-decoration: none;
}
a.dxeHyperlink_eniThm:hover
{
    text-decoration: underline;
}
a.dxeHyperlink_eniThm:visited
{
    color: #c983e4;
}
/* -- ListBox -- */
.dxeListBox_eniThm
{
    color: Black;
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    background-color: white;
    border: 1px solid #a5acb5;
    width: 70px;
    height: 109px;
}
.dxeListBox_eniThm div.dxlbd
{
    padding-top: 1px;
    height: 108px;
}
.dxeListBoxItemRow_eniThm
{
    cursor: default;
}
.dxeListBoxItem_eniThm
{
    padding: 2px 5px;
    white-space: nowrap;
    text-align: left;
    border-top: 0 solid White;
    border-right: 1px solid White;
    border-bottom: 1px solid White;
    border-left: 1px solid White;
}
.dxeListBoxItem_eniThm em
{
    background: #e2ecf7 none repeat 0 0;
    color: Black;
    font-weight: bold;
    font-style: normal;
}
.dxeListBox_eniThm td.dxeI,
.dxeListBox_eniThm td.dxeIM,
.dxeListBox_eniThm .dxeHIC,
.dxeListBox_eniThm td.dxeFTM,
.dxeListBox_eniThm td.dxeTM,
.dxeListBox_eniThm td.dxeC,
.dxeListBox_eniThm td.dxeCM,
.dxeListBox_eniThm td.dxeHCC,
.dxeListBox_eniThm td.dxeMI,
.dxeListBox_eniThm td.dxeMIM
{
    border-right-width: 0 !important;
}
.dxeListBox_eniThm td.dxeIR,
.dxeListBox_eniThm td.dxeIMR,
.dxeListBox_eniThm .dxeHICR,
.dxeListBox_eniThm td.dxeFTMR,
.dxeListBox_eniThm td.dxeTMR,
.dxeListBox_eniThm td.dxeCR,
.dxeListBox_eniThm td.dxeCMR,
.dxeListBox_eniThm td.dxeHCCR,
.dxeListBox_eniThm td.dxeMIR,
.dxeListBox_eniThm td.dxeMIMR
{
    border-left-width: 0 !important;
}
.dxeListBox_eniThm td.dxeCM,
.dxeListBox_eniThm td.dxeHCC,
.dxeListBox_eniThm td.dxeCMR,
.dxeListBox_eniThm td.dxeHCCR
{
    width: 33px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dxeListBox_eniThm td.dxeIM,
.dxeListBox_eniThm td.dxeIMR
{
    width: 0;
}
.dxeListBox_eniThm td.dxeC
{
    padding-right: 3px !important;
}
.dxeListBox_eniThm td.dxeCR
{
    padding-left: 3px !important;
}
.dxeListBox_eniThm td.dxeC > span,
.dxeListBox_eniThm td.dxeCM > span
{
    margin: 2px 2px 2px 3px;
}
.dxeListBox_eniThm td.dxeCR > span,
.dxeListBox_eniThm td.dxeCMR > span
{
    margin: 2px 3px 2px 2px;
}
.dxeListBox_eniThm td.dxeT
{
    width: 100%;
    padding-left: 0 !important;
}
.dxeListBox_eniThm td.dxeTR
{
    width: 100%;
    padding-right: 0 !important;
}
.dxeListBox_eniThm td.dxeT,
.dxeListBox_eniThm td.dxeMI
{
    border-left-width: 0 !important;
}
.dxeListBox_eniThm td.dxeTR,
.dxeListBox_eniThm td.dxeMIR
{
    border-right-width: 0 !important;
}
.dxeListBox_eniThm td.dxeFTM,
.dxeListBox_eniThm td.dxeTM,
.dxeListBox_eniThm td.dxeLTM,
.dxeListBox_eniThm .dxeHFC,
.dxeListBox_eniThm .dxeHC,
.dxeListBox_eniThm .dxeHLC,
.dxeListBox_eniThm td.dxeFTMR,
.dxeListBox_eniThm td.dxeTMR,
.dxeListBox_eniThm td.dxeLTMR,
.dxeListBox_eniThm .dxeHFCR,
.dxeListBox_eniThm .dxeHCR,
.dxeListBox_eniThm .dxeHLCR
{
    overflow: hidden;
}
.dxeListBox_eniThm td.dxeFTM.dxeLTM
{
    border-left-width: 0 !important;
}
.dxeListBox_eniThm td.dxeFTM,
.dxeListBox_eniThm td.dxeTM,
.dxeListBox_eniThm .dxeHFC,
.dxeListBox_eniThm .dxeHC
{
    padding-right: 6px !important;
}
.dxeListBox_eniThm td.dxeFTMR,
.dxeListBox_eniThm td.dxeTMR,
.dxeListBox_eniThm .dxeHFCR,
.dxeListBox_eniThm .dxeHCR
{
    padding-left: 6px !important;
}
.dxeListBox_eniThm td.dxeLTM,
.dxeListBox_eniThm td.dxeTM,
.dxeListBox_eniThm .dxeHC,
.dxeListBox_eniThm .dxeHLC
{
    padding-left: 6px !important;
}
.dxeListBox_eniThm td.dxeLTMR,
.dxeListBox_eniThm td.dxeTMR,
.dxeListBox_eniThm .dxeHCR,
.dxeListBox_eniThm .dxeHLCR
{
    padding-right: 6px !important;
}
.dxeListBox_eniThm .dxeFTM,
.dxeListBox_eniThm .dxeTM,
.dxeListBox_eniThm .dxeHFC,
.dxeListBox_eniThm .dxeHC,
.dxeListBox_eniThm .dxeLTM,
.dxeListBox_eniThm .dxeTM,
.dxeListBox_eniThm .dxeHC,
.dxeListBox_eniThm .dxeHLC,
.dxeListBox_eniThm td.dxeIM,
.dxeListBox_eniThm td.dxeFTM,
.dxeListBox_eniThm td.dxeTM,
.dxeListBox_eniThm td.dxeCM,
.dxeListBox_eniThm td.dxeMIM,
.dxeListBox_eniThm .dxeFTMR,
.dxeListBox_eniThm .dxeTMR,
.dxeListBox_eniThm .dxeHFCR,
.dxeListBox_eniThm .dxeHCR,
.dxeListBox_eniThm .dxeLTMR,
.dxeListBox_eniThm .dxeTMR,
.dxeListBox_eniThm .dxeHCR,
.dxeListBox_eniThm .dxeHLCR,
.dxeListBox_eniThm td.dxeIMR,
.dxeListBox_eniThm td.dxeFTMR,
.dxeListBox_eniThm td.dxeTMR,
.dxeListBox_eniThm td.dxeCMR,
.dxeListBox_eniThm td.dxeMIMR
{
    border-top-width: 0;
    border-bottom-width: 0;
}
.dxeListBoxItemRow_eniThm.dx-ar > .dxeListBoxItem_eniThm,
.dxeListBoxItemRow_eniThm.dx-al > .dxeListBoxItem_eniThm
{
    float: inherit;
}
/*Grid lines*/
.dxeListBox_eniThm td.dxeLTM,
.dxeListBox_eniThm td.dxeTM,
.dxeListBox_eniThm td.dxeMIM
{
    border-left: 1px solid #dbdee1 !important;
}
.dxeListBox_eniThm td.dxeLTMR,
.dxeListBox_eniThm td.dxeTMR,
.dxeListBox_eniThm td.dxeMIMR
{
    border-right: 1px solid #dbdee1 !important;
}
.dxeListBox_eniThm td.dxeIM,
.dxeListBox_eniThm td.dxeFTM,
.dxeListBox_eniThm td.dxeTM,
.dxeListBox_eniThm td.dxeLTM,
.dxeListBox_eniThm td.dxeCM,
.dxeListBox_eniThm td.dxeMIM,
.dxeListBox_eniThm td.dxeIMR,
.dxeListBox_eniThm td.dxeFTMR,
.dxeListBox_eniThm td.dxeTMR,
.dxeListBox_eniThm td.dxeLTMR,
.dxeListBox_eniThm td.dxeCMR,
.dxeListBox_eniThm td.dxeMIMR
{
    border-bottom: 1px solid #dbdee1;
}
.dxeListBoxItemSelected_eniThm
{
    color: Black;
    background: #ecedef none;
}
.dxeListBoxItemHover_eniThm
{
    color: Black;
    background: #e2ecf7 none;
}
.dxeListBoxWithCustAppearanceSys .dxeListBoxItemSelected_eniThm
{
    color: Black !important;
    background: #ecedef none !important;
}
.dxeListBoxWithCustAppearanceSys .dxeListBoxItemHover_eniThm
{
    color: Black !important;
    background: #e2ecf7 none !important;
}
.dxeListBoxItemHover_eniThm em,
.dxeListBoxItemSelected_eniThm em
{
    background-image: none;
}
/*Header*/
.dxeListBox_eniThm .dxeHD
{
    background: #e7ebef url('lbHeaderBack.png') repeat-x left top;
    border-bottom: 1px solid #a5acb5;
}
.dxeHD .dxeListBoxItem_eniThm
{
    color: #3b3b3b;
    border-top-width: 0;
    border-right-width: 1px;
    border-bottom-width: 0;
    border-left-width: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}
.dxeListBox_eniThm .dxeHC,
.dxeListBox_eniThm .dxeHLC,
.dxeListBox_eniThm td.dxeHMIC
{
    border-left: 1px solid #a5acb5;
}
.dxeListBox_eniThm .dxeHCR,
.dxeListBox_eniThm .dxeHLCR,
.dxeListBox_eniThm td.dxeHMICR
{
    border-right: 1px solid #a5acb5;
    text-align: right;
}
.dxeListBox_eniThm .dxeHIC,
.dxeListBox_eniThm .dxeHFC,
.dxeListBox_eniThm .dxeHCC
{
    border-left: 1px solid #ebeef2;
}
.dxeListBox_eniThm .dxeHICR,
.dxeListBox_eniThm .dxeHFCR,
.dxeListBox_eniThm .dxeHCCR
{
    border-right: 1px solid #ebeef2;
    text-align: right;
}
.dxeListBox_eniThm .dxeHFC,
.dxeListBox_eniThm .dxeHC,
.dxeListBox_eniThm .dxeHMIC
{
    border-right-width: 0;
}
.dxeListBox_eniThm .dxeHFCR,
.dxeListBox_eniThm .dxeHCR,
.dxeListBox_eniThm .dxeHMICR
{
    border-left-width: 0;
    text-align: right;
}
.dxeListBox_eniThm .dxeHLC
{
    border-right: 1px solid #a5acb5;
}
.dxeListBox_eniThm .dxeHLCR
{
    border-left: 1px solid #a5acb5;
    text-align: right;
}
/* -- Calendar -- */
.dxeCalendar_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    font-weight: normal;
    color: #303030;
    border: 1px solid #868b91;
    background-color: #f6f7f9;
    cursor: default;
}
.dxeCalendar_eniThm td.dxMonthGrid
{
    padding: 1px 8px;
}
.dxeCalendar_eniThm td.dxMonthGridWithWeekNumbers
{
    padding: 1px 20px 6px 8px;
}
.dxeCalendar_eniThm td.dxMonthGridWithWeekNumbersRtl
{
    padding: 1px 8px 1px 20px;
}
.dxeCalendarDayHeader_eniThm
{
    padding: 2px 4px 6px;
    border-bottom: 1px solid #d1d2d4;
}
.dxeCalendarWeekNumber_eniThm
{
    font-size: 0.82em;
    text-align: right;
    padding: 3px 8px 2px 4px;
    color: #939394;
}
.dxeCalendarDay_eniThm
{
    padding: 2px 5px 3px;
    text-align: center;
}
.dxeCalendarWeekend_eniThm
{
    color: #C00000;
}
.dxeCalendarOtherMonth_eniThm
{
    color: #7d7d7d;
}
.dxeCalendarOutOfRange_eniThm
{
    color: #c9c9c9;
}
.dxeCalendarDayDisabled_eniThm
{
    background-color: #f1f2f5;
    color: #e1e2e5 !important;
}
.dxeCalendarToday_eniThm
{
    padding: 1px 4px 2px;
    border: 1px solid #c95c05;
}
.dxeCalendarSelected_eniThm
{
    color: #303030;
    background-color: #e2ecf7;
    border: 1px solid #c7d0da;
    padding: 1px 4px 2px;
}
.dxeDayInRange.dxeCalendarSelected_eniThm
{
    border-color: transparent;
}
.dxeCalendarHeader_eniThm
{
    border-style: none;
    padding: 4px;
}
.dxeCalendarHeader_eniThm td.dxe
{
    text-align: center;
    cursor: pointer;
}
.dxeCalendarHeader_eniThm .dxeCHS
{
    min-width: 1px;
}
.dxeCalendarFooter_eniThm
{
    background-color: #f6f7f9;
    padding: 10px 0;
    border-top: 1px solid #d1d2d4;
}
.dxeCalendarFooter_eniThm .dxeCFS
{
    min-width: 12px;
}
.dxeCalendarFastNav_eniThm
{
    color: #303030;
    background: #f6f7f9 none;
    border-top: 1px solid #868b91;
    border-right: 1px solid #868b91;
    border-bottom: 0 solid #868b91;
    border-left: 1px solid #868b91;
    padding: 5px 8px;
    cursor: default;
}
.dxeCalendarFastNavMonthArea_eniThm
{
    padding: 0px 9px;
}
.dxeCalendarFastNavYearArea_eniThm
{
    padding-top: 8px;
}
.dxeCalendarFastNavFooter_eniThm
{
    color: #303030;
    background: #f6f7f9 none;
    padding: 8px 0 17px;
    border-top: 0 solid #868b91;
    border-right: 1px solid #868b91;
    border-bottom: 1px solid #868b91;
    border-left: 1px solid #868b91;
}
.dxeCalendarFastNavFooter_eniThm .dxeCFNFS
{
    min-width: 11px;
}
.dxeCalendarFastNavMonth_eniThm,
.dxeCalendarFastNavYear_eniThm
{
    color: #303030;
    padding: 3px 5px;
    text-align: center;
    cursor: pointer;
}
.dxeCalendarFastNavYear_eniThm
{
    padding: 3px 5px;
}
.dxeCalendarFastNavMonth_eniThm
{
    padding: 6px;
}
.dxeCalendarFastNavMonthHover_eniThm,
.dxeCalendarFastNavYearHover_eniThm
{
    color: #303030;
    padding: 3px 5px;
    background: #e1e2e4 none;
    border-width: 0;
}
.dxeCalendarFastNavMonthHover_eniThm
{
    padding: 6px;
}
.dxeCalendarFastNavMonthSelected_eniThm,
.dxeCalendarFastNavYearSelected_eniThm
{
    color: #303030;
    background-color: #e2ecf7;
    border: 1px solid #c7d0da;
}
.dxeCalendarFastNavYearSelected_eniThm
{
    padding: 2px 4px;
}
.dxeCalendarFastNavMonthSelected_eniThm
{
    padding: 5px;
}
.dxeDateEditTimeEditCell_eniThm
{
    padding: 6px 25px 15px;
    width: 100px;
}
.dxeDateEditClockCell_eniThm
{
    padding: 13px 13px 0;
}
.dxeCalendarFooter_eniThm.dxeDETSF
{
    padding-left: 10px;
    padding-right: 10px;
}
.dxeCalendarHeader_eniThm.dxeDETSH
{
    display: none;
}
/* Disabled */
.dxeDisabled_eniThm,
.dxeDisabled_eniThm td.dxe
{
    color: #989898;
    cursor: default;
}
.dxeEditArea_eniThm.dxeDisabled_eniThm
{
    color: #989898;
}
a.dxeDisabled_eniThm:hover
{
    color: #989898;
}
.dxeButtonDisabled_eniThm
{
    color: #989898;
    cursor: default;
}
/* -- Button -- */
.dxbButton_eniThm
{
    color: #3c3c3c;
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    border: 1px solid #bbbfc4;
    background: #e7eaee url('edtBtnBack.png') repeat-x left top;
    padding: 1px;
}
.dxbButtonHover_eniThm
{
    color: #3c3c3c;
    background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
    border: 1px solid #eecc53;
}
.dxbButtonChecked_eniThm
{
    color: #3c3c3c;
    background: #fee287 url('edtBtnPBack.png') repeat-x left top;
    border: 1px solid #c2762b;
}
.dxbButtonPressed_eniThm
{
    color: #3c3c3c;
    background: #fee287 url('edtBtnPBack.png') repeat-x left top;
    border: 1px solid #c2762b;
}
.dxbButton_eniThm div.dxb
{
    padding: 3px 15px;
}
.dxbButton_eniThm div.dxbf
{
    padding: 2px 14px;
    border: 1px dotted black;
}
/* Button Link */
a.dxbButton_eniThm
{
    color: #5a9ddb;
    text-decoration: none;
}
a.dxbButton_eniThm:hover
{
    text-decoration: underline;
}
a.dxbButton_eniThm:visited
{
    color: #c983e4;
}
/* Disabled */
.dxbDisabled_eniThm
{
    border-color: #d0d4d8;
    background: #eef1f4 none;
}
.dxbDisabled_eniThm,
a.dxbButton_eniThm.dxbDisabled_eniThm
{
    color: #989898;
    cursor: default;
    text-decoration: none;
}
/* -- FilterControl -- */
.dxfcControl_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: Black;
    padding: 0 1em;
}
.dxfcTable_eniThm
{
    border-collapse: separate !important;
}
.dxfcTable_eniThm td.dxfc
{
    padding: 0px 0px 0px 3px;
}
a.dxfcPropertyName_eniThm
{
    white-space: nowrap !important;
    color: Blue !important;
}
a.dxfcGroupType_eniThm
{
    white-space: nowrap !important;
    padding: 0px 3px !important;
    color: Red !important;
}
a.dxfcOperation_eniThm
{
    white-space: nowrap !important;
    color: Green !important;
}
a.dxfcValue_eniThm
{
    white-space: nowrap !important;
    color: Gray !important;
}
.dxeMaskHint_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: #3c3c3c;
    background: #ffffe1 none;
    border: 1px solid Black;
    padding: 2px 5px 3px;
}
.dxfcControl_eniThm ul.dxfc-tree,
.dxfcControl_eniThm .dxfc-tree ul
{
    list-style-type: none;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}
.dxfcControl_eniThm .dxfc-tree
{
    width: 100%;
}
.dxfcControl_eniThm .dxfc-subnd
{
    margin-left: 22px;
}
.dxfcControl_eniThm.dxfcRtl .dxfc-subnd
{
    margin-left: 0;
    margin-right: 22px;
}
.dxfcControl_eniThm .dxfc > li > table
{
    border-spacing: 0;
    border-collapse: collapse;
}
.dxfcControl_eniThm .dxfc-elb
{
    float: left;
    height: 21px;
    vertical-align: top;
    width: 26px;
}
.dxfcControl_eniThm.dxfcRtl .dxEditors_fcremove_eniThm
{
    margin-right: 2px;
}
.dxfcControl_eniThm .dxfc-clr
{
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    width: 0;
}
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td
{
    vertical-align: top;
}
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td.dxfc-editorCell
{
    vertical-align: middle;
}
.dxEditors_fcremove_eniThm, .dxEditors_fcadd_eniThm
{
    margin-top: 5px;
}
.dxfcControl_eniThm .dxfc-nd
{
    cursor: pointer;
    display: block;
    float: left;
    outline: 0 none;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
}
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td > a,
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td > span,
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td > img,
.dxfcControl_eniThm .dxfc-editor
{
    vertical-align: middle;
}
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td > a,
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td > td,
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td > span
{
    padding: 0 0.1ex;
}
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td > a,
.dxfcControl_eniThm .dxfc-nd > tbody > tr > td > span
{
    line-height: 24px;
}
.dxfcControl_eniThm .dxfc-ln
{
    vertical-align: top;
}
.dxfcControl_eniThm .dxfc-memo textarea
{
    height: 80px;
    overflow: auto;
}
.dxfcControl_eniThm .dxfc-validationSummary
{
    padding: 2px 5px 4px 6px !important;
    list-style-type: none;
    margin: 0;
}
.dxfcControl_eniThm .dxfc-validationSummary li
{
    padding: 2px 0;
}
.dxfcControl_eniThm .dxfc-validationSummary li a
{
    color: red;
    text-decoration: none;
    border-bottom: 1px dashed #f70;
}
.dxfcControl_eniThm .dxfc-validationSummary li a:hover
{
    color: #f70;
}
/* -- ProgressBar -- */
.dxeProgressBar_eniThm
{
    background: #f6f7f8 url('edtProgressBack.png') repeat-x left top;
    border: 1px solid #a5acb5;
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: #3c3c3c;
    height: 21px;
}
.dxeProgressBar_eniThm .dxePBMainCell,
.dxeProgressBar_eniThm td.dxe
{
    padding: 0;
}
.dxeProgressBarIndicator_eniThm
{
    background: #dfe6ed url('edtProgressIndicatorBack.png') repeat-x left top;
}
/* -- DropDownWindow -- */
.dxpcDropDown_eniThm,
.dxeDropDownWindow_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
}
.dxeDropDownWindow_eniThm
{
    background-color: white;
    border: 1px solid #a5acb5;
}
/*----------------- ColorTable -----------------*/
.dxeColorIndicator_eniThm
{
    border: 1px solid #a5acb5;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.dxeItemPicker_eniThm
{
    background-color: White;
    border: 1px solid #a7abb0;
}
.dxeColorTable_eniThm td.dx,
.dxeItemPicker_eniThm td.dx
{
    padding: 4px;
}
.dxeColorTableCell_eniThm,
.dxeItemPickerCell_eniThm,
.dxeACICell_eniThm
{
    padding: 3px;
    cursor: pointer;
}
.dxeColorTableCellDiv_eniThm,
.dxeACICellDiv_eniThm
{
    border: 1px solid #808080;
    width: 12px;
    height: 12px;
    font-size: 0;
}
.dxeColorTableCellSelected_eniThm,
.dxeACICellSelected_eniThm
{
    padding: 2px !important;
    background: #fddc7f url('../Web/mItemSBack.png') repeat-x left top;
    border: 1px solid #c2762b;
}
.dxeColorTableCellHover_eniThm,
.dxeItemPickerCellHover_eniThm,
.dxeAutomaticColorItemCellHover_eniThm,
.dxeAutomaticColorItem_eniThm:hover > div
{
    padding: 2px !important;
    background: #fcf9df url('../Web/mSubItemHBack.png') repeat-x left top;
    border: 1px solid #f2ca58;
}
/* -- Invalid Style -- */
/* -- Focused Style -- */
.dxeFocused_eniThm
{
    border: 1px solid #808891;
}
.dxeFocused_eniThm.dxeTrackBar_eniThm
{
    border: 0px;
}
/* -- Null Text Style -- */
.dxeNullText_eniThm .dxeEditArea_eniThm,
.dxeNullText_eniThm .dxeMemoEditArea_eniThm
{
    color: #989898;
}
.dxeNullText_eniThm input:-webkit-autofill
{
    -webkit-text-fill-color: #989898;
}
.dxeTextBox_eniThm .dxeFNTextSys,
.dxeButtonEdit_eniThm .dxeFNTextSys,
.dxeMemo_eniThm .dxeFNTextSys
{
    color: #989898;
}
/* -- Captcha -- */
.dxcaControl_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
}
.dxcaRefreshButton_eniThm
{
    text-decoration: none;
    color: #5a9ddb;
}
.dxcaDisabledRefreshButton_eniThm
{
    color: #989898;
}
.dxcaRefreshButtonCell_eniThm
{
    padding-left: 4px;
}
.dxcaTextBoxCellNoIndent_eniThm .dxeErrorCell_eniThm
{
    padding-left: 0px;
    padding-top: 4px;
    color: Red;
}
.dxcaTextBoxLabel_eniThm
{
    padding-bottom: 4px;
    display: block;
}
.dxcaLoadingPanel_eniThm .dxlp-loadingImage
{
    margin: 0;
}
.dxcaLoadingPanel_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: #585e68;
    background: White none;
    border: 1px solid #80858d;
}
.dxcaLoadingPanel_eniThm td.dx
{
    white-space: nowrap;
    text-align: center;
    padding: 10px 14px;
}
.dxpcLite_eniThm .dxHFBPS
{
    width: 6px;
}
.dxeTextBox_eniThm,
.dxeButtonEdit_eniThm,
.dxeIRadioButton_eniThm,
.dxeRadioButtonList_eniThm,
.dxeCheckBoxList_eniThm
{
    cursor: default;
}
/* Removes flicking in iOS Safari*/
.dxeTrackBar_eniThm,
.dxeIRadioButton_eniThm,
.dxeButtonEdit_eniThm,
.dxeTextBox_eniThm,
.dxeRadioButtonList_eniThm,
.dxeCheckBoxList_eniThm,
.dxeMemo_eniThm,
.dxeListBox_eniThm,
.dxeCalendar_eniThm,
.dxeColorTable_eniThm
{
    -webkit-tap-highlight-color: transparent;
}
/*B232817*/
.dxIE.dxBrowserVersion-9 .dxeEditArea_eniThm,
.dxIE.dxBrowserVersion-10 .dxeEditArea_eniThm
{
    padding-bottom: 1px;
    margin-bottom: 0px;
}
.dxMacOSMobilePlatform .dxeEditArea_eniThm
{
    padding-bottom: 2px !important;
    margin-bottom: -1px !important;
}
/* ASPxCololrEdit */
.dxcpParametersCellSys .dxcpWebColorInput_eniThm
{
    float: right;
    margin-top: 40px;
}
.dxcpColorParameterMainDiv_eniThm
{
    padding: 0px 0 4px 9px;
    width: 90px;
    text-align: right;
}
.dxeCustomColorButton_eniThm
{
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 3px 7px;
    cursor: pointer;
}
.dxeCustomColorButtonHover_eniThm
{
    background: #fcf8e5 url('edtBtnHBack.png') repeat-x left top;
    border-color: #eecc53;
}
.dxeAutomaticColorItem_eniThm
{
    padding: 4px 4px 0px 4px;
}
.dxeAutomaticColorItem_eniThm > span
{
    margin: 0px 5px;
    line-height: 20px;
}
.dxcpCurrentColor_eniThm,
.dxcpSavedColor_eniThm
{
    height: 35px;
}
.dxcpCurrentAndSaved_eniThm
{
    width: 65px;
    margin: 34px 0px 0px auto;
    cursor: pointer;
}
.dxeColorTablesMainDiv_eniThm,
.dxeColorSelectorMainDiv_eniThm
{
    background-color: #FFFFFF;
}
.dxeColorSelectorMainDiv_eniThm
{
    padding: 7px;
}
.dxcpColorArea_eniThm,
.dxcpHueAreaImage_eniThm,
.dxcpCurrentAndSaved_eniThm,
.dxeColorTablesMainDiv_eniThm,
.dxeColorSelectorMainDiv_eniThm,
.dxcpParametersCell_eniThm input
{
    border: 1px solid #a5acb5;
}
.dxeButtonsPanelDiv_eniThm
{
    margin-top: 15px;
    text-align: right;
}
.dxeButtonsPanelDiv_eniThm input
{
    min-width: 60px;
    margin-left: 10px;
}
/* -- ASPxTokenBox -- */
input.dxeTokenBoxInput_eniThm[type="text"]
{
    display: inline-block;
    float: left;
    outline: none;
    width: 30px;
    padding: 2px 0px 2px 0px;
    margin: 0px 1px 1px 2px;
}
.dxeToken_eniThm
{
    display: inline-block;
    float: left;
    min-width: 30px;
    margin: 0px 1px 1px 0px;
}
.dxeTokenText_eniThm, .dxeTokenRemoveButton_eniThm
{
    display: block;
    float: left;
}
.dxeTokenText_eniThm
{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 2px 0px 4px;
    padding: 2px 0px 2px 0px;
}
.dxeTokenRemoveButton_eniThm
{
    cursor: pointer;
    margin-top: 1px;
}
.dxeToken_eniThm
{
    background: #f1f1f1 url('edtTokenBoxTokenBackground.png') repeat-x top;
}
.dxFirefox .dxeButtonEdit_eniThm td.dxictb,
.dxeButtonEdit_eniThm td.dxictb
{
    padding: 0;
}
.dxFirefox input.dxeTokenBoxInput_eniThm[type="text"]
{
    padding: 1px 0px 1px 0px;
    margin: 0px 1px 1px 1px;
}
.dxFirefox .dxeTokenText_eniThm
{
    padding: 1px 0px 1px 0px;
}
.dxeTokenBox.dxeDisabled_eniThm .dxictb
{
    cursor: default;
}
/* ASPxPictureEdit */
.dxpePreviewContainer_eniThm
{
    position: relative;
}
.dxpeCommandPanel_eniThm
{
    background-color: #333333;
    background-color: rgba(0,0,0,0.75);
    color: white;
    height: 32px;
    position: absolute;
}
.dxpeBottomCommandPanel_eniThm
{
    width: 100%;
    bottom: 0;
}
.dxpeTopCommandPanel_eniThm
{
    width: 100%;
    top: 0;
}
.dxpeCommandPanelDeleteButton_eniThm,
.dxpeCommandPanelOpenDialogButton_eniThm
{
    cursor: pointer;
    display: inline-block;
}
.dxpeCommandPanelButtonsWrapper_eniThm
{
    position: absolute;
}
.dxpeCommandPanelButtonsWrapperLeft_eniThm
{
    left: 0;
}
.dxpeCommandPanelButtonsWrapperCenter_eniThm
{
    left: 50%;
    margin-left: -32px;
}
.dxpeCommandPanelButtonsWrapperRight_eniThm
{
    right: 0;
}
.dxpeDropZone_eniThm
{
    background-color: gray;
}
.dxpePlaceHolder_eniThm
{
    background-color: lightgray;
    z-index: -1;
}
.dxpeTextPanelContainer_eniThm
{
    height: 100%;
    font-size: 200%;
    text-align: center;
    width: 100%;
}
.dxpeTextPanel_eniThm
{
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
/* Editor caption */
.dxeCaptionCell_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    color: #3c3c3c;
    white-space: nowrap;
    line-height: 16px;
    height: 100%;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeTextEditCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeCheckBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeRadioButtonCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeCheckBoxListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeRadioButtonListCTypeSys
{
    padding-top: 11px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeListBoxCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeTrackBarCTypeSys
{
    padding-top: 2px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeProgressBarCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeMemoCTypeSys
{
    padding-top: 3px;
}
.dxeCaptionCell_eniThm.dxeCaptionVATSys.dxeCustomCTypeSys
{
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Firefox */
.dxFirefox .dxeTextEditCTypeSys.dxeCaptionVATSys.dxeCaptionCell_eniThm,
.dxFirefox .dxeMemoCTypeSys.dxeCaptionVATSys.dxeCaptionCell_eniThm,
.dxFirefox .dxeProgressBarCTypeSys.dxeCaptionVATSys.dxeCaptionCell_eniThm
{
    padding-top: 2px;
}
.dxeRequiredMark_eniThm
{
    color: green;
    font-style: normal;
}
.dxeOptionalMark_eniThm
{
    color: gray;
    font-style: normal;
}
/* Out of range warning*/
.dxeOutOfRWarn_eniThm
{
    font: 12px Dotum, '돋움', 'Segoe UI', Helvetica, 'Droid Sans', AppleSDGothicNeo, Tahoma, Geneva, sans-serif;;
    padding: 3px 8px 4px 8px;
    display: none;
    position: absolute;
    background-color: white;
    color: red;
    border-radius: 3px;
    z-index: 41998;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -khtml-border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid #A8A8A8;
}
.dxeOutOfRWarnRight_eniThm
{
    margin-left: 10px;
}
.dxeOutOfRWarnBottom_eniThm
{
    margin-top: 10px;
}
